<h1>Choose player</h1>
<form action="<%= url_for(action: "choose_player") %>" method="post">
  <% @players.each do |player| %>
    <div>
      <input type="radio" id="<%= player.id %>" name="player_id" value="<%= player.id %>">
      <label for="<%= player.id %>"><%= player.name %></label>
    </div>
  <% end %>

  <button type="submit">Next</button>
</form>
