<h1>Choose fruit</h1>
<div class="layout__divider rainbow-bg"></div>
<form action="<%= url_for(action: "create") %>" method="post">
  <input type="hidden" name="player_id" value="<%= params[:player_id] %>" />
  <div class="mb-3">
    <% @fruit.each do |fruit| %>
      <div class="mb-2">
        <input type="radio" id="<%= fruit.id %>" name="fruit_id" value="<%= fruit.id %>">
        <label for="<%= fruit.id %>"><%= fruit.emoji + " " + fruit.name %></label>
      </div>
    <% end %>
  </div>
  <button class="button" type="submit">Chomp!</button>
</form>
